*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 1.1em;
}
body{
    background: url(../img/fond.jpg);
}
header{
    display: flex;
    justify-content: space-between;
padding: 20px;
margin-bottom: 20px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    padding-left: 15px;
    text-decoration: none;
}
a{
    padding-left: 20px;
    transition: transform 0.5s;
    color: white;
}
a:hover{
    color: rgb(255, 2, 2);
    text-decoration: none;
    transform: scale(1.1);

}
P{
 padding: 0;
 margin: 0;
}
form{
    padding-left: 15px;
    }
input{
    color: black;
}
.logo{
    text-align: center;
}
.logo img{
    border-radius: 50px;
}
.container{
    color: white;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    grid-auto-flow: row dense;
}
.objet{
    margin-bottom: 20px;
    cursor: pointer;
}
.objet img:hover{
    transform: scale(1.1) rotate(2deg);
    transition: 0.5s;
}
.objet img{
width: 250px;
height: 200px;
}
h2{
    padding: 0;
    margin: 0 0 5px;
}
@media screen and (min-width: 600px) {
    .container{
        grid-template-columns: repeat(4, 2fr);
    }
}

footer{
    display: flex;
    justify-content: space-between;
padding: 20px;
margin-top: 10px;
    align-items: center;
}
