*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
}
body{
    
    background-color: rgb(250, 250, 250);
    margin: auto;  
}

/*--------entete--------*/
header{
    width: 100%;
    height: auto;
    background: black;    
}
.top{
    background: rgb(8, 8, 8);
    color: rgb(255, 255, 255);

}

h1{
   
    font-weight: 500;
}

.logo{
    display: block;
    text-align: center;
    padding: 5px 0 0 0;
}
.logo img{
    border-radius: 50px;
}
.navBar{
    text-align: center;
    padding-bottom: 5px;
}
.navBar a{
    display: inline-block;
    color: rgb(236, 236, 236);
    transition: color .4s;
    text-decoration: none;
}
form {
    display: inline-block;
    margin: 0 5px;
    color: black;
}
a{
    padding-left: 20px;
    transition: transform 0.5s;

}
a:hover{
    color: rgb(255, 2, 2);
    text-decoration: none;
    transform: scale(1.1);

}

/*--------fin entete--------*/

/*-----style carousel------*/

.carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > a > img {
    width: 70%;
    height: 350px;
    margin: 5px auto;
  }
  .carousel{
    background-color: rgb(236, 236, 236);
  }
/*--------contenu--------*/
.container .image{
    background: url(../img/football.jpg) center/cover;
   
    min-height: 300px;
    text-align: center;
    padding-top: 40px;
    
}
.container .image1{
    background: url(../img/woman-gfc460af03_640.jpg) center/cover;
    min-height: 300px;
    text-align: center;
    padding-top: 40px;
   
}
.container .image2{
    background: url(../img/argentinian.jpg) center/cover;
    min-height: 300px;
    text-align: center;
    padding-top: 50px;

    
}
.container .image:hover, .image1:hover, .image2:hover{
    opacity: 0.9;
    -ms-transform: scaleY(1.1); /* IE 9 */
    transform: scaleY(1.1);
    transition: 0.5s;
}
.container a{
    color: rgb(255, 254, 251);
    font-weight: bold;
    /*font-size: 1.3em;*/
    text-decoration: none;
}
.container a:hover{

    transition: 0.5s;
    color: crimson;
}
.avis{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.avis img{
    padding: 10px 0;
    border-radius: 50px;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;    
    grid-gap: 5px;
    grid-template-areas:
    "header header"
    "carousel carousel"
    "image image1"
    "image2 image2"
    "avis avis"
    "qui qui"
    "reservation retour"
    "footer footer";   
}
/*#navbar {
    overflow: hidden;
}
.sticky {
    position: sticky;
    top: -100px;
    width: 100%;
    
  }*/
  
header{

    grid-area: header;
}
#carouselExampleIndicators{
    grid-area: carousel;
    
}
.image{
    grid-area: image;
}
.image a{
    font-size: 2em;
}
.image1{
    grid-area: image1;
}
.image1 a{
font-size: 2em;
}
.image2{
    grid-area: image2;
}
.image2 a{
    font-size: 2em;
    }
.avis{
    grid-area: avis;
}
.qui{
    grid-area: qui;
    /*background: url(../img/vinyl.jpg) center/cover;*/
    text-align: center;
    font-weight: bold;
    padding: 20px;    
}
.qui a{
    color: rgb(0, 0, 0);
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1em;
}

.reservation{
    grid-area: reservation;
    
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;

}
.reservation p{
    color: red;
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    background: rgb(245, 245, 245);
}
.retour{
font-size: 1.2em;
    text-align: center;
    padding: 0px;
}
.retour a p{

    border-radius: 10px;
    margin: 0;
    padding: 15px;
    background: rgb(245, 245, 245);
}
footer{
    background: rgb(0, 0, 0);
    color: white;    
    grid-area: footer;
    height: auto;
    text-align: center;  
    min-height: 200px;
    padding-top: 50px;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
i{
    font-size: 1.5em;
}


/*.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
footer p{
    color: rgb(240, 240, 240);
    text-align: center;
    padding: 5px;
}
footer a{
    color: rgb(238, 238, 238);
}
*/
@media screen and (max-width: 400px) {
    header{
        display: flex; 
    }
    .navBar a{
        display: inline;
    }
    form{
        display: none;
    }
    .reservation p, .retour a p {
        background: white;
    }
    footer{
        
        width: 100%;
        height: auto;
        display: flex;
        
        
    }
    footer ul {
       
        padding: 5px;
    }
    footer ul li{
    
        padding: 0 5px;
    }


    
}
