
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
        font-family: 'Dancing Script', cursive;
    }
    body{
        font-size: 1.2em;
    }
    h1{
        font-size: 3em;
        font-weight: 400;
    }
    h2{
        font-size: 2.5em;
        font-weight: 500;
    }
a{
    text-decoration: none;
}
    p{
        line-height: 20px;
        padding: 10px 0;
        margin: 0;
        
    }
    button{
        border: 1px solid rgb(158, 158, 158);
        border-radius: 50px;       
        background-color: transparent;      
        padding: 10px 10px;
        margin: 20px 10px;
        display:block;
        letter-spacing: 2px;
        cursor: pointer;
    }
img{
    margin: 5px 5px;
}
    button:hover,
    footer a:hover{
        color: rgb(47, 0, 255);
        border: 2px solid rgb(0, 1, 44);
        text-decoration: none;
    }
    header{
        width: 100%; 
        background: black;   
    }
    .top{
        background: rgb(8, 8, 8);
        color: rgb(255, 255, 255);
    
    }
    
    h1{
        margin: 0;
        padding: 0;
    }

    .logo{
        display: block;
        text-align: center;
        padding: 5px 0;
    }
    .logo img{
        border-radius: 50px;
    }
    .navBar{
        text-align: center;
        padding-bottom: 5px;
    }
    .navBar a{
        display: inline-block;
        color: rgb(236, 236, 236);
        transition: color .4s;
    }
    form {
        display: inline-block;
        margin: 0 5px;
        color: black;
    }
    .navBar a{
        padding-left: 10px;
    }
    .navBar a:hover{
        color: rgb(255, 2, 2);
    }
    
    /*--------fin entete--------*/
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .container p{
        display: inline-block;
        padding: 0 2px;
    }
  
    .container img:hover{
        cursor: pointer;
        transform: scaleY(1.2);
        transition: 0.5s;
    }
    main{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .image-banner{
        background: url(../img/footwear-g7d69f8515_640.jpg) fixed right/cover; 
    }
    
    .section-1{
        display: grid;
        grid-template-columns: 37% 63%;
        min-height: 400px;
    
    }
    /*.section-1 .img{
        background: url(../img/basket1.jpg) center/cover;
        
    }*/
    .section-2{
        display: grid;
        grid-template-columns: 65% 35%;
        min-height: 400px;
    }
    /*.section-2 .img{
        background: url(../img/jean11.jpg) center/cover;
    
    }*/
    .section-3{
        display: grid;
        grid-template-columns: 37% 63%;
        min-height: 400px;
    }
    /*.section-3 .img{
        background: url(../img/sweater.jpg) center/cover;
    
    }*/
    .section-4{
        display: grid;
        grid-template-columns: 65% 35%;
        min-height: 400px;
    }
    .section-4 .img{
        background: url(../img/suit-gee4da9e75_640.jpg) center/cover;
    
    }
    .section-5{
        display: grid;
        grid-template-columns: 37% 63%;
        min-height: 400px;
    }
    .section-5 .img{
        background: url(../img/map.jpg) center/cover;
    
    }
    .contact{
        text-align: center;
        padding: 66px 0;
    }
    .form-grid{
        width: 85%;
        margin: 30px auto;
    }
    label{
        font-weight: 600;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    footer{
        background: #000000;
          
        grid-area: footer;
        height: auto;
        text-align: center;  
        min-height: 180px;
        padding-top: 20px;
        margin-top: 10px;
        
    }
    footer p, a, i{
        color: white;
        text-decoration: none;
   }
   footer p{
       padding-bottom: 40px;
   }
    footer ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    [class*="col-"] {
        float: left;
        padding: 15px 5px;
        
      }
    @media only screen and (max-width: 600px) {
        /* For tablets: */
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
      }
     


    /*.foot, .foot p{
        color: white;
    }*/
    /*footer ul{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }*/